/* INICIO RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
}

html {
  font-size: 62.5%;
}

img {
  max-width: 100%;
  display: block;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  list-style: none;
}
/* FIM RESET */

/* INICIO HEADER */
.nav {
  background: #181818fa;
  height: 8rem;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: sticky;
  top: 0;
  left: 0;
}

.nav-list {
  display: flex;
  align-items: center;
  margin-right: 2rem;
}

.nav-list a {
  font-size: 1.6rem;
  padding: 2rem;
  color: #ddd;
  transition: all 0.3s ease;
}

.nav-list a:hover {
  color: #fff;
}
/* FIM HEADER */

/* INICIO MAIN */

.main {
  width: 100%;
  background-color: #000;
  height: calc(100vh - 8rem);
  background-image: url(assets/programador.png);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding-left: 10%;
}

.main h1 {
  font-size: 5.4rem;
  color: #fff;
}

.main p {
  font-size: 2.4rem;
  font-style: italic;
  color: #1e96fc;
  margin-top: 1rem;
  margin-bottom: 3.5rem;
}

.main .call-to-action {
  cursor: pointer;
  background: #fff;
  border: 0;
  padding: 1.4rem;
  border-radius: 0.4rem;
  font-size: 1.8rem;
  font-weight: bold;
  transition: all 0.3s ease;
}

.main .call-to-action:hover {
  transform: scale(1.1);
}

.about {
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 8rem;
  padding-bottom: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about div {
  max-width: 50%;
  padding-right: 4rem;
}

.about div .subtitulo {
  font-size: 3.2rem;
  margin-bottom: 1.4rem;
}

.about div p {
  font-size: 1.6rem;
  margin-bottom: 10px;
  text-align: justify;
}

.about img {
  max-width: 450px;
  border-radius: 8px;
}
